@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
body {
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Play', sans-serif;
    background: #f2f2f2;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}
.container {
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
}
.toUpper {
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
input[type="file"] {
    display: none;
}


//? Label Styles
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-info {
    background-color: #00c0ef;
}
.label-warning {
    background-color: #f39c12;
}
.label-success {
    background-color: #00a65a;
}

/* Button Styles */
.button-main {
    cursor: pointer;
    border:none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: 15px 25px;
    background: #FECE00;
    border-radius: 10px;
}
.button-alt {
    cursor: pointer;
    border:none;
    text-transform: uppercase;
    text-decoration: none;
    color: #F2ECEC;
    padding: 15px 25px;
    background: #707070;
    border-radius: 10px;
}
.button-white {
    cursor: pointer;
    border:none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
    background: #F2ECEC;
    border-radius: 10px;
}
.button-success {
    cursor: pointer;
    border:none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
    background-color: #00a65a;
    color: #F2ECEC;
    border-color: #008d4c;
    border-radius: 10px;
}
.button-default {
    cursor: pointer;
    border:1px solid;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    background-color: #f4f4f4;
    border-color: #e9e9e9;
    color: #444;
}
.button-danger {
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: firebrick;
    color: #F2ECEC;

}
.button-square {
    cursor: pointer;
    border:none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px;
    background: #FECE00;
    border-radius: 5px;
}

.button-image {
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
    background: #F2ECEC;
    border-radius: 10px;
}

//? Pagination
.pagination {
    display: -webkit-box;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 0;
    list-style-type: none;

}
.page-item {
    margin-right: 6%;
}
.page-link {
    background: #fff;
    padding: 8px 16px;
    border: 1px solid #cacaca;
    border-radius: 15px;
}
.page-link:hover {
    transition-duration: 0.4s;
    border: 1px solid #F2ECEC;
    background-color: #34495E;
    color: #fff;
}
.active {
    border: 1px solid #F2ECEC;
    background-color: #34495E;
    color: #fff;
}
.disabled {
    pointer-events: none;
    color: #adadad;
}

/***********************************
    *? Top Bar Styles
***********************************/
.topbar {
    display: -webkit-box;
    width:100%;
    height:60px;
    background:#FECE00;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 7px 4px 0 rgba(0, 0, 0, 0.19);
    // padding:0 10%;
}
.topbar-logo {
    height: 29px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 80px;
}
.top-items {
    display:flex;
    list-style-type:none;
    margin-right:44px;
    padding:0;
}
.top-item {
    margin-left:10px;
    padding: 10px;
}
.sidebar-nav-toggle {
    position: absolute;
    font-size: larger;
    left: 27px;
    cursor: pointer;
}
.logout {
    position: absolute;
    right: 50px;
}
.logout-button {
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #F2ECEC;
    padding: 8px 15px;
    background: #424a5d;
    border-radius: 10px;
}
.logout-button:hover {
    color: rgba(242, 236, 236, 0.781);
}

/* Columns */
.column-xs {
    float: left;
    width: 15%;
    padding: 10px;
    height: fit-content;
}
.column-sm {
    float: left;
    width: 21%;
    padding: 13px;
    height: fit-content;
}
.column-md {
    float: left;
    width: 28%;
    padding: 10px;
    height: fit-content;
}
.column-lg {
    float: left;
    width: 44%;
    padding: 10px;
    height: fit-content;
}
.column-xl {
    float: left;
    width: 60%;
    padding: 10px;
    height: fit-content;
}

.cms-title {
    padding-top: 25px;
    padding-left: 50px;
}

/***********************************
*? Dashboard Styling
***********************************/
#Dashboard {
    padding: 20px 50px 0px 50px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
}
.card-body {
    background: white;
    box-shadow: 0 2px 11px 3px rgba(0, 0, 0, 0.19);
    margin: 10px;
    width: 20%;
    padding: 15px;
}
.card-dashboard {
    width: 50%;
    padding: 40px;
}
.card-posts {
    width: 100%;
    padding: 40px;
}
.dashboard-get-started {
    position: relative;
    top: 41%;
}
.profile {
    z-index: 50;
    text-align: center;
    width: 6% !important;
}
.dropdown {
    height: max-content;
    padding: 20px;
}
#add-button{
    position: relative;
    top: 20px;
}
.pull-left {
    float: left;
    width: 65%;
}
.pull-right {
    float: right;
    width: 30%;
    right: 40px;
    position: relative;
    padding-bottom: 20px;
    
}
.card-footer {
    height: 18px;
    margin-top: 19px;

}
/************************
//? Table Styles (GLOBAL)
*************************/
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
tbody, tr, td {
    border: 1px solid #e4dddd;
}


//? Search box
.form-search-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    outline: none;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: #F2ECEC;
    border: 0;
    padding: 15px;
    border-radius: 15px;

}
#form-search-box {
    margin-right: 0px;
    width: 69%;
    border-radius: 15px;
    margin-bottom: 0;
    background-color: #F2ECEC;
}


//User Creation Form
.create-user {
    width: 50%;
    position: relative;
    margin: 0% 11% auto auto;
    top: 40px;
}
.form-text {
    width: 50%;
    border: 0px;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
    text-transform: capitalize;
}
.form-email {
    width: 50%;
    border: 0px;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
    text-transform: capitalize; 
}

//Kendo Drawer
.k-drawer {
    min-height: 915px !important;
}

//? New Post Form Styles
.post-details {
    width: 95.4%;
    padding: 20px;
    border: 3px solid #d6d6d6;
}
.post-details-right {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid #d6d6d6;
}
.form-group.excerpt .CodeMirror{
    height: 130px;
    min-height: 130px;
}
.editor-toolbar {
    margin-top: 5px;
}
.publish-buttons {
    display: flex;
    justify-content: space-between;
}
#new-post-title {
    width: 97%;
    border: 1px solid #d6d6d6;
    text-transform: none;
}
#new-post-slug {
    width: 97%;
    border: 1px solid #d6d6d6;
    text-transform: none;
}
.k-datetimepicker {
    width: 100%;
    border: 1px solid #d6d6d6;
    text-transform: none;
}
#new-post-category {
    width: 100%;
    border: 1px solid #d6d6d6;
    text-transform: none;
}
#new-post-image {
    margin-top: 5px;
    width: 100%;
    text-transform: none;
}
#new-post-excerpt {
    text-transform: none;
}
#new-post-body {
    text-transform: none;
}
.excerpt {
    margin-top: 15px;
    margin-bottom: 15px;
}
.body {
    margin-top: 15px;
    margin-bottom: 15px;
}
//? JqueryUI DatePicker Custom Styling
.hasDatepicker {
    width: 94%;
    border: 1px solid #d6d6d6;
}
#ui-datepicker-div {
    background: #F2ECEC;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 9px 0px #00000069;
}
.ui-datepicker-prev {
    background: #d7d7d7;
    border: 1px solid #a7a7a7;
    padding: 5px;
    border-radius: 7px;
    margin-right: 8px;
}
.ui-datepicker-next {
    background: #d7d7d7;
    border: 1px solid #a7a7a7;
    padding: 5px;
    border-radius: 7px;
}
.ui_tpicker_unit_hide {
    display: none;
}
.ui-timepicker-select {
    width: 81%;
}
.ui_tpicker_time_label {
    width: max-content;
    float: left;
}
.ui_tpicker_time_input {
    margin-left: 21px;
}
.ui_tpicker_time {
    margin-bottom: 5px;
}
.ui_tpicker_hour {
    margin-bottom: 5px;
}
.ui_tpicker_minute {
    margin-bottom: 5px;
}
.ui_tpicker_second {
    margin-bottom: 5px;
}
.ui_tpicker_hour_label {
    width: max-content;
    float: left;
}
.ui_tpicker_hour_slider {
    margin-left: 21px;
}
.ui_tpicker_minute_label {
    width: max-content;
    float: left;
}
.ui_tpicker_minute_slider {
    margin-left: 21px;
}
.ui_tpicker_second_label {
    width: max-content;
    float: left;
}
.ui_tpicker_second_slider {
    margin-left: 21px;
}
.ui-datepicker-title {
    padding-top: 15px;
}
.ui-datepicker-current {
    background: #d7d7d7;
    border: 1px solid #a7a7a7;
    padding: 5px;
    border-radius: 7px;
    margin-right: 8px;
}
.fileinput-new {
    background-position: center center;
    background-repeat: no-repeat;
    width: 425px;
    height: 250px;
    margin-bottom: 25px;
    margin-top: 5px;
}


@media only screen and (min-width: 1302px) {

}