@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
body {
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Play', sans-serif;
    background:#2D3332;
}
a {
    text-decoration: none;
    color: black;
    font-family: "Play", sans-serif;
}
a:hover {
    text-decoration: none;
    color: #535353;
}

.container {
    margin-left:auto;
    margin-right:auto;

}
.toUpper {
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Button Styles ss */
.button-main {
    border:none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: 15px 25px;
    background: #FECE00;
    border-radius: 10px;
    cursor: pointer;
}
.button-alt {
    border:none;
    text-transform: uppercase;
    text-decoration: none;
    color: #F2ECEC;
    padding: 15px 25px;
    background: #707070;
    border-radius: 10px;
    cursor: pointer;
}
.button-white {
    border:none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
    background: #F2ECEC;
    border-radius: 10px;
    cursor: pointer;
}
.button-square {
    border:none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px;
    background: #FECE00;
    border-radius: 5px;
    cursor: pointer;
}

/* Mobile Navigation */
.mobile-nav {
    position:fixed;
    top:0;
    background: white;
    height: 100vh;
    width: 80vw;
    color: #2D3332;
    display:block;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 500ms;
}
.mobile-nav-items {
    width:100%;
    list-style-type: none;
    padding:0;
}
.mobile-nav-item {
    // width:100%;
    padding:10px 20px 10px 20px;
    margin-top: -1px;
    border-bottom:0.5px solid #2D3332;
    border-right:0.5px solid #2D3332;
    border-top:0.5px solid #2D3332;
}
.mobile-nav-item-top {
    // width:100%;
    padding: 10px 20px 10px 20px;
    display: table-cell;
    width: inherit;
    margin-left: -4px;
    white-space: nowrap;
    border-bottom: 0.5px solid #2D3332;
    border-right: 0.5px solid #2D3332;
    border-top: 0.5px solid #2D3332;
}
.mobile-nav-img {
    padding: 10px 20px 10px 20px;
    display: table-cell;
    width: inherit;
    margin-left: -4px;
    white-space: nowrap;
}
.hamburger-container {
    display:inline-block;
    position: absolute;
    right: 17px;
    top: 26px;
}
.open {
    display: flex;
    transform: translateX(0);
}

/* DHL Authorised Service Partner Strip*/
.top-strip {
    width:100%;
    height:20px;
    background:#FECE00;
}
.top-strip-img {
    height: 20px;
    display: block;
    margin: 0 auto;
}

/* Navigation Bar */
.navbar-logo {

}
.nav-logo-img {
    width: auto;
}
.nav-items {
    display:none;
}


/* Main Pane Styles */
.pane {
    display:inline-block;
    height:300px;
    width:100%;
    background:#F2ECEC;
}
.pane:hover {
    -webkit-filter:none;
    filter:none;
}
.account-pane-container {
    width: 100%;
    display: block;
}

/* Personal Account Pane Text Styles */
.pane-left {
    background: linear-gradient(to top, transparent, rgba(230, 230, 230, 0.47)), url("/img/personal-account.jpg");
    background-size: cover;
    -webkit-filter: grayscale(1) opacity(.2);
    filter:greyscale(1) opacity(.2);
    height: 100%;
}
.pane-left:hover {
    -webkit-filter:none;
    filter:none;
}


/* Business Account Pane Styles */
.pane-right {
    background: linear-gradient(to top, transparent, rgba(230, 230, 230, 0.47)), url("/img/business-account.jpg");
    background-size: cover;
    -webkit-filter: grayscale(1) opacity(.2);
    filter:greyscale(1) opacity(.2);
    height: 100%;
}
.pane-right:hover {
    -webkit-filter:none;
    filter:none;
}

@media (min-width: 768px) {
    .account-pane-container {
        width:100%;
        display:flex;
    }

    .pane {
        display:inline-block;
        height:320px;
        width:50%;
        background:#F2ECEC;
    }

    .pane:hover {
        -webkit-filter:none;
        filter:none;
    }

    .pane-left {
        background:url('img/cat1.jpg');
        background-size: cover;
        -webkit-filter: grayscale(1) opacity(.2);
        filter:greyscale(1) opacity(.2);
    }

    .pane-right {
        background:url('img/cat2.jpg');
        background-size: cover;
        -webkit-filter: grayscale(1) opacity(.2);
        filter:greyscale(1) opacity(.2);
    }

    .service-box-container {
        width:100%;
        display:flex;
    }

    .service-box {
        width:25%;
        height:180px;
    }

    .service-box-odd {
        background: #E3E3E3;
    }

    .service-box-even {
        background: #D3CFCF;
    }
    .mobile-nav {
        position: fixed;
        top: 0;
        background: white;
        height: 100vh;
        width: 45vw;
        color: #2D3332;
    }
}
@media (min-width: 1520px) {
    .float-left {
        float: left !important;
    }
    .float-right {
        float: right !important;
    }
    body {
        background:#2D3332;
    }
    .container {
        max-width: 1500px;
    }

/***********************************
    *? HIDE BORGAR
***********************************/
    .hamburger {
        display: none;
    }

 /***********************************************
    *? Top "Authorised Service Partner" Strip
************************************************/
    .top-strip {
        width:100%;
        height:20px;
        background:#FECE00;
    }
    .top-strip-img {
        height: 20px;
        float: right;
    }

/***********************************
    *? Navigation Bar Styles
***********************************/
/* Reset */
    .main-nav {
        display:flex;
        width:100%;
        height:100px;
        background:white;
        align-items: center;
        justify-content: space-between;
        //box-shadow: 0 7px 4px 0 rgba(0, 0, 0, 0.19);
        // padding:0 10%;
        > ul {
            grid-auto-flow: column;
        
            > li {
              margin: 0 0.5rem;
            }
        }
    }
    .nav-logo-img {
        // margin-top: 32px;
        margin-left: 44px;
    }
    .nav-items {
        display:flex;
        list-style-type:none;
        margin-right:44px;
        padding:0;
    }
    .nav-item {
        margin-left:10px;
        padding: 10px;
    }
    .nav-item:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .nav-link {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
    }

/************************
* Dropdown Styling
*************************/

    .nav-dropdown {
        margin-left:10px;
        padding: 10px;
        float: left;
        position: relative;

        // Allow the link to be hovered over to reveal the menu inside
        &:hover,
        &:focus-within {
      
          .dropdown-menu {
            opacity: 1;
            transform: rotateX(0) translateX(-50%);
            visibility: visible;
          } 
      
        }
      
        .dropdown-menu {
            z-index: 1000000000;
            position: absolute;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
            padding: 0 0;
            min-width: 30ch;

            // Pull up to overlap the parent list item very slightly
            top: calc(100% - 0.25rem);
            // Use the left from absolute position to shift the left side
            left: 50%;
            // Use translateX to shift the menu 50% of it's width back to the left 
            transform: translateX(-50%);

            //Make the Menu hidden by default
            transform: rotateX(-90deg) translateX(-50%);
            transform-origin: top center;
            opacity: 0.3;
            transition: 150ms all ease-out;
    
            a {
                color: #000;
                display: block;
                padding: 9px 16px;
            }
            a:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        .nav-link {
            background-color: transparent;
            border: none;
            font-family: inherit;
        }
        .nav-link:hover {
            text-decoration: none;
            color: #535353;
            cursor: pointer;
        }
    }
    .nav-dropdown:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    ul.dropdown-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;

        li {
            padding: 0;
        }
    }




/* Columns */
    .column-xs {
            float: left;
            width: 15%;
            padding: 10px;
            height: fit-content;
    }
    .column-sm {
            float: left;
            width: 21%;
            padding: 13px;
            height: fit-content;
    }
    .column-md {
        float: left;
        width: 28%;
        padding: 10px;
        height: fit-content;
    }
    .column-lg {
        float: left;
        width: 44%;
        padding: 10px;
        height: fit-content;
    }
    .column-xl {
        float: left;
        width: 60%;
        padding: 10px;
        height: fit-content;
    }


/***********************************
    *? Navigation Bar
***********************************/
    .navbar-logo {
        height: 60px;
    }

/***********************************
    *? Account Panes Styles
***********************************/
    .account-pane-container {
        width:100%;
        display:flex;
    }
    .pane {
        display:inline-block;
        height:540px;
        width:50%;
        background:#F2ECEC;
    }
    .pane-left {
        background: linear-gradient(to top, transparent, rgba(230, 230, 230, 0.47)), url("/img/personal-account.jpg");
        background-size: cover;
        -webkit-filter: grayscale(1) opacity(.2);
        filter:greyscale(1) opacity(.2);
        height: 100%;
    }
    .pane-left:hover {
        -webkit-filter:none;
        filter:none;
    }
    .pane-right {
        background: linear-gradient(to top, transparent, rgba(66, 66, 66, 0.47)), url("/img/business-account.jpg");
        background-size: cover;
        -webkit-filter: grayscale(1) opacity(.2);
        filter:greyscale(1) opacity(.2);
        height: 100%;
    }
    .pane-right:hover {
        -webkit-filter:none;
        filter:none;
    }

/***********************************
    *? Services Boxes Styles
***********************************/
    .service-box-container {
        width:100%;
        display:flex;
    }
    .service-box {
        width:25%;
        height:340px;
    }
    .service-box-odd {
        background: #E3E3E3;
    }
    .service-box-even {
        background: #D3CFCF;
    }
    .service-box-img {
        width: fit-content;
        display: block;
        margin: auto;
        margin-top: 35px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background: #FECE00;
        border: 3px solid #FFFFFF;
    }
    .service-img {
        margin: 8px;
        display: block;
    }
    .service-box-title {
        width: fit-content;
        padding-top: 10px;
        margin: auto;
    }
    .service-box-excerpt {
        width: 86%;
        padding-top: 10px;
        margin: auto;
    }
    #service-section {
        height: 340px;
    }

/***********************************
    *? DHL Service Partner Styles
***********************************/
    .dhl-service-partner {
        background: #FECE00;
        position: relative;
        display: flex;
        height: 130px;
        width: 90%;
        margin: auto;
        bottom: 15px;
        box-shadow: 0 2px 11px 3px rgba(0, 0, 0, 0.19);
    }
    .dhl-srv-logo {
        width: 15em;
        padding: 20px 343px;
    }
    .dhl-srv-logo-text {
        position: relative;
        width: fit-content;
        font-size: 1.6em;
        font-weight: 100;
        margin-left: auto;
        margin-right: 30.5%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .dhl-srv-logo-text-bold {
        font-size: 1em;
        font-weight: bold;
    }
    .partnership-title {
        width: fit-content;
        font-size: 1.5em;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .partnership-text {
        width: 705px;
        font-size: 1em;
        margin-bottom: 24px;
    }

/*****************************************
    *? Personal Account Pane Text Styles
*****************************************/
    .personal-account {
        position: relative;
        top: 12em;
        margin: auto;
        width: fit-content;
    }
    .personal-title {
        text-align: center;
        font-size: 5rem;
        font-weight: 100;
        color: #707070;
        margin: 0;
    }
    .personal-subtitle {
        text-align: center;
        font-size: 1rem;
        margin: 0;
        color: #707070;
    }
    .personal-button {
        position: relative;
        top: 7em;
        left: 4.5em;
    }

/*****************************************
    *? Business Account Pane Text Styles
*****************************************/
    .business-account {
        position: relative;
        top: 12em;
        margin: auto;
        width: fit-content;
    }
    .business-title {
        text-align: center;
        font-size: 5rem;
        font-weight: 600;
        color: #F2ECEC;
        margin: 0;
    }
    .business-subtitle {
        text-align: center;
        font-size: 1rem;
        margin: 0;
        color: #F2ECEC;
    }
    .business-button {
        position: relative;
        top: 7em;
        left: 4.5em;
    }

/*********************************
    *? About Us Section Styles
*********************************/
    .about-us {
        background: #FFF;
        z-index: -1;
        height: 500px;
    }
    .about-us-title {
        font-size: 5em;
        margin: auto;
        margin-left: 41%;
        width: fit-content;
        position: relative;
        top: 150px;
        font-weight: 100;
    }
    .about-us-text {
        position: relative;
        width: 83%;
        margin: auto;
        font-size: 1.2em;
        top: 192px;
    }
    .about-arrow {
        width: fit-content;
        margin: auto;
        top: 160px;
    }
    .caret {
        position: relative;
        width: 60px;
        height: 30px;
    }
    .caret:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-top: 20px solid #000000;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    }
    .caret:after {
        content: '';
        position: absolute;
        left: 1px;
        top: 0;
        border-top: 19px solid #000000;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
    }
    .caret-sm {
        position: relative;
        right: 6px;
    }
    .caret-sm:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-top: 7px solid #000000;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
    }
    .caret-sm:after {
        content: '';
        position: absolute;
        left: 1px;
        top: 0;
        border-top: 6px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
    }



/************************
    *? Footer Styles
*************************/
    .main-footer {
        height: 270px;
        background: #2d3332;
        color: #999b9c;
        padding: 64px 0;
    }
    .main-footer h4 {
        color: #e0e0e0;
    }
    #main-footer .footer-links .list-group-item {
        padding: 0 0 0px;
        background-color: transparent;
        border-color: transparent;
    }
    .copyrights {
        border-left: 1px solid #4c5151;
        padding-left: 8px;
        width: 80%;
    }
    .socials ul {
        display: block;
        padding-inline-start: 0;
    }
    .socials li {
        display: inline-block;
    }
    .socials ul li a {
        display: inline-block;
        font-size: 18px;
        line-height: 36px;
        width: 36px;
        height: 36px;
        border-radius: 36px;
        text-align: center;
        vertical-align: bottom;
        margin-left: 4px;
        background-color: #444848;
        color: #ddd;
        transition: color 0.3s ease, background-color 0.3s ease;
    }
    .list-group, .footer-links {
        padding: 0;
        list-style-type: none;
    }
    #explore, .row {
        display: flex;
    }
    .list-group-item a {
        color: #999b9c;
    }
    .list-group-item a:hover {
        color: #e6e6e6;
    }
    .explore-left {
        width: fit-content;
        padding-right: 60px;
    }    
    .explore-right {
        width: fit-content;
    }
    .socials a {
        color: #e6e6e6;
    }
    .socials a:hover {
        color: #999b9c;
    }
    .font-awesome-credit {
        padding-top: 10px;
    }
    .font-awesome-credit a {
        color: #999b9c;
    }
    .font-awesome-credit a:hover {
        color: #e6e6e6;
    }
}