body {
    background: #F2ECEC;
}
.destinations-container {
    width: 75%;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

// Landing Page Styling
.international-top-banner {
    width: 100%;
    height: 270px;
    justify-content: center;
    padding-top: 0;
}
.international-top-banner-image {
    padding-left: 100px;
}
.international-top-banner-image .top-banner-image {
    width: auto;
    height: auto;
    padding-top: 35px;
}
.destinations.content {
    display: flex;
}
.top-country-text {
    padding: 28px;
    font-size: 15px;
    display: inline-block;
    width: 900px;
    padding-top: 0px;
    position: relative;
    margin-top: 0px;
    bottom: 20px;
}


// Landing Page Country Grid Styling
#country-grid {
    margin-bottom: 25px;
}
#country-grid .row {
    margin: 0;
}
#country-grid .col-md-4 {
    margin: 13px;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
.country-box {
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.13);
}
#country-grid .col-md-4 img {
    transition: transform .5s;
    width: 100%;
}
.row {
    display: inline-flex;
}

