/****************************
    *? Service Page Styles
****************************/
.flex-center {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1800px;
}

.flex {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 1800px;
}

.quote-box {
  height: 540px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 88%;
}

/* quick quote - START */
.quick-quote {
  display: flex;
  padding: 10px;
}

.quick-quote .row {
  display: block;
  margin: 0;
}

.quick-quote .col {
  display: inline-block;
}

.quick-quote .country-select {
  margin-right: 20px;
}

.quick-quote .weight-select {
  margin-top: 10px;
}

.quick-quote .country-select select {
  height: 30px;
}

.quick-quote .weight-select input {
  height: 30px;
}

.quotebox-bg {
  border-style: solid;
  border-width: 0 100px 173.2px 100px;
  border-color: transparent transparent #ffffff transparent;
}

.quick-quote-box {
  margin: 0;
  padding: 0.5em 0.5em;
  height: 280px;
  width: 35%;
  position: relative;
  left: 120px;
  bottom: -280px;
}

.q-quote {
  display: inline;
  /* margin: 10px; */
}

#q-row {
  text-align: center;
  height: 64px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 32px;
  margin-bottom: 32px;
}

#q-col {
  display: inline;
}

.q-button-main {
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  background: #FECE00;
  border-radius: 10px;
  cursor: pointer;
}

.q-button-alt {
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #F2ECEC;
  padding: 10px 20px;
  background: #707070;
  border-radius: 10px;
  cursor: pointer;
}

.q-price {
  float: right;
  position: relative;
  bottom: 75px;
  right: 202px;
}

/* quick quote - END */
.service-information {
  display: flex;
  background: #d9d9d9;
}

.main-text {
  display: inline-block;
  width: 50%;
  border-right: 5px solid #ccc;
}

.service-infogfx {
  display: inline-block;
  width: 50%;
}

.infogfx-title {
  margin-left: 5%;
  margin-bottom: 0px;
  margin-top: 20px;
}

.tab {
  height: 450px;
  background: #F2ECEC;
  padding-top: 40px;
}

.service-title {
  margin-left: 5%;
  margin-top: 3%;
}

.service-text {
  margin-left: 5%;
  margin-bottom: 0;
  width: 810px;
}

.service-list {
  padding-left: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tablink {
  padding: 5px;
  display: inline-block;
  width: -webkit-fill-available;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.5;
}

div:hover.hover-light-grey {
  background-color: #e2e2e2;
}

.bottombar {
  border-bottom: 6px solid #ccc !important;
}

.bottombar-active {
  border-bottom: 6px solid #fece2e !important;
}

.tab-button {
  width: 45%;
}

.tab-contents {
  padding-top: 10px;
  padding-left: 150px;
}

/* Infographic Classes to style the images as needed */
.service-infogfx-text {
  margin-left: 2.7%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.express-infogfx {
  float: right;
  background-size: cover;
  width: 750px;
  height: 400px;
  margin-top: -220px;
  background-image: url("img/cat1.jpg");
}

.economy-infogfx {
  float: right;
  background-size: cover;
  width: 750px;
  height: 400px;
  margin-top: -220px;
  background-image: url("img/cat1.jpg");
}

.overnight-infogfx {
  float: right;
  background-size: cover;
  width: 750px;
  height: 400px;
  margin-top: -220px;
  background-image: url("img/cat1.jpg");
}

.imports-infogfx {
  float: right;
  background-size: cover;
  width: 750px;
  height: 400px;
  margin-top: -220px;
  background-image: url("img/cat1.jpg");
}

/* Popular Destinations Classes */
.other-destinations {
  height: 330px;
  width: 100%;
  background: #d9d9d9;
  display: inline-block;
}

.destinations {
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

.destinations-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 28px;
  padding-top: 15px;
}

.box {
  width: 220px;
  height: 220px;
  border-radius: 5px;
  box-shadow: 0 0px 20px 10px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.destination:hover {
  transform: scale(1.2);
}

.destination {
  transition: all 0.2s ease-in-out;
}

.destination1 {
  background-image: url(/img/cat1.jpg);
  background-size: cover;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  width: 220px;
  height: 220px;
}

.destination2 {
  background-image: url(/img/cat2.jpg);
  background-size: cover;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  width: 220px;
  height: 220px;
}

.destination3 {
  background-image: url(/img/cat1.jpg);
  background-size: cover;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  width: 220px;
  height: 220px;
}

.destination4 {
  background-image: url(/img/cat2.jpg);
  background-size: cover;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  width: 220px;
  height: 220px;
}

/* Request Consultation Partial */
.button-left {
  float: left !important;
}

.req-consultation {
  background-color: #7c7287;
  color: #000;
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 100px;
  height: 280px;
}

.consultation_title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.consultation_desc {
  font-family: inherit;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 15px;
}

.vr {
  float: left;
  position: relative;
  border: 1px black solid;
  height: 340px;
  width: 0;
  right: -775px;
  padding: 0;
  bottom: 250px;
}

.left-side {
  margin-right: 80px;
  padding-right: 50px;
  width: 710px;
}

.right-side {
  display: inline-flex;
  height: 215px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 830px;
  bottom: 220px;
}

.tel-no {
  display: inline;
  margin-left: 5px;
  font-family: play;
  font-weight: 300;
  font-size: 18px;
  vertical-align: middle;
}

.office-email {
  display: inline;
  margin-left: 5px;
  font-family: play;
  font-weight: 300;
  font-size: 18px;
  vertical-align: middle;
}

#consultation-email-address {
  width: 125%;
  margin-bottom: 10px;
}

#consultation-contact-name {
  width: 125%;
  margin-bottom: 10px;
}

#consultation-tel-no {
  width: 125%;
  margin: 0;
}

.services-container {
  background: #F2ECEC;
  padding: 60px;
}

.seperator {
  margin-bottom: 20px;
  padding: 11px;
  border-bottom: 1px solid #00000021;
}

.express-delivery {
  height: 420px;
}

.express-delivery-img {
  float: left;
  width: 45%;
}

.express-delivery-title {
  float: left;
  text-align: left;
  margin-left: 175px;
}

.express-delivery-desc {
  float: right;
  text-align: left;
  position: relative;
  font-size: 15px;
  box-sizing: content-box;
  width: 45%;
  height: 86%;
  top: 20px;
}

.economy-delivery {
  height: 420px;
}

.economy-delivery-img {
  float: right;
  width: 45%;
}

.economy-delivery-title {
  float: right;
  text-align: right;
  margin-right: 175px;
}

.economy-delivery-desc {
  float: left;
  text-align: right;
  position: relative;
  font-size: 15px;
  box-sizing: content-box;
  width: 45%;
  height: 86%;
  top: 20px;
}

.domestic-delivery {
  height: 420px;
}

.domestic-delivery-img {
  float: left;
  width: 45%;
}

.domestic-delivery-title {
  float: left;
  text-align: left;
  margin-left: 175px;
}

.domestic-delivery-desc {
  float: right;
  text-align: left;
  position: relative;
  font-size: 15px;
  box-sizing: content-box;
  width: 45%;
  height: 86%;
  top: 20px;
}

.imports-delivery {
  height: 420px;
}

.imports-delivery-img {
  float: right;
  width: 45%;
}

.imports-delivery-title {
  float: right;
  text-align: right;
  margin-right: 175px;
}

.imports-delivery-desc {
  float: left;
  text-align: right;
  position: relative;
  font-size: 15px;
  box-sizing: content-box;
  width: 45%;
  height: 86%;
  top: 20px;
}

.ietrax-delivery {
  height: 420px;
}

.ietrax-delivery-img {
  float: left;
  width: 45%;
}

.ietrax-delivery-title {
  float: left;
  text-align: left;
  margin-left: 175px;
}

.ietrax-delivery-desc {
  float: right;
  text-align: left;
  position: relative;
  font-size: 15px;
  box-sizing: content-box;
  width: 45%;
  height: 86%;
  top: 20px;
}